body {
  @apply antialiased min-w-[320px];

  &.js-open-menu {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .container-xxl {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.container {
  @media (max-width: theme("screens.md")) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.aspect-square-custom {
  @apply w-[70svw] h-auto sm:w-[330px] sm:h-[330px] xl:w-[400px] xl:h-[400px];
  aspect-ratio: 1 / 1;

  &-bis {
    aspect-ratio: 1 / 1;
    @apply w-[70svw] h-auto sm:w-[330px] sm:h-[330px] xl:w-[600px] xl:h-[600px];
  }
}

// Grid deco
.grid-deco {
  > .container {
    border-right: 0.5px solid transparentize(white, 0.7);
    > div {
      @apply bg-white opacity-30 w-[0.5px] h-full;
    }
  }
}

#page-content {
  @apply relative z-0;
}

.tns-controls {
  @apply hidden;
}
